@import "../../variables/colors";
@import "../../variables/fonts";

$navbar-height: 4rem;
$navbar-font-size: 1.75rem;

.navbar-outer {
    background-color: $cream;
    height: $navbar-height;
    font-family: $main-title-font;
    font-size: $navbar-font-size;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;

    .navbar-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        .buttons-wrapper > a  {
            margin-right: 1rem;
        }
    }
}

.links {
    text-decoration: none;
    color: $purple-200;
}