@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/fonts";
@import "../variables/measures";
@import "../variables/animations";

.inner {
    padding: 0 1rem;
}

.presentation-wrapper {
    min-height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    justify-content: center;

    .presentation-text-wrapper {
        width: 100%;
        display: flex;
        align-items: center;

        .p1 {
            font-size: 20px;
        }

        .p2 {
            font-size: 18px;
            color: $gray-70;
        }

        .icon-wrapper {
            font-size: 22px;
            color: $purple-200;
            
            > * {
                margin-right: 0.25rem;
            }
        }
    }


}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -7rem;

    .inner {
        padding-top: 1.5rem;
    }

    h1 {
        display: flex;
        flex-direction: column;

        .hello {
            color: $gray-70;
            font-size: 2rem;
        }

        .ariane {
            color: $purple-200;
            font-size: 5rem;
            margin-top: -2rem;
            font-weight: 800;
        }
    }

}

.wave-divider {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: -100px;

    svg {
        display: block;
        transform-origin: bottom;
        animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }
}

.projects-wrapper {
    background-color: $purple-200;
    color: $cream;
}

.section-title-wrapper {

    display: flex;
    margin-left: 1rem;
    flex-wrap: wrap;

    .dots {
        width: 5rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        justify-content: space-evenly;
    }

    a {
        text-transform: none;
        color: unset;
        text-decoration: none;
    }


    h2 {
        font-size: 2rem;
        margin: 0;
    }

    .title {
        display: flex;
        align-items: center;
    }

    .description {
        width: 100%;
        font-size: 1.05rem;
    }
}

@include media($from: "sm") {
    // Min width 576px onwards.

    .title-wrapper {
        margin-top: 0;
    }

}

@include media($from: "sm", $and: "max-height: 500px") {
    // Fixing things for landscape phones
    .wave-divider {
        margin-top: 0;
    }
}


@include media($from: "md") {
    // Min width 768px onwards

    .inner {
        padding: 0 2rem;
    }

    .presentation-wrapper {
        min-height: calc(100vh - #{$navbar-height});

        .presentation-text-wrapper {
            .icon-wrapper {
                font-size: 30px;
            }
        }
    }

    .section-title-wrapper {    
        .dots {
            width: 6rem;
            font-size: 1rem;
        }

        h2 {
            font-size: 3rem;
        }
    }

    
}
@include media($from: "lg") {
    // Min width 992px onwards.

    .presentation-wrapper {
        flex-direction: row;
        min-height: calc(768px - #{$navbar-height});
    }

    .section-title-wrapper {
        .description {
            width: 60%;
            font-size: 1.2rem;
            margin-left: auto;
        }
    }
    
}
@include media($from: "xl") {
    // Min width 1200px onwards.

    .presentation-wrapper {
        min-height: calc(900px - #{$navbar-height});
    }

    .presentation-wrapper, .projects-wrapper {
        padding: 0 6rem;
    }

    .inner > h1 {
        .hello {
            font-size: 3rem;
        }

        .ariane {
            font-size: 7rem;
            margin-top: -3rem;
            font-weight: 800;
            margin-left: 1rem;
        }
    }
    
}
@include media($from: "xxl") {

    .presentation-wrapper, .projects-wrapper {
        padding: 0 15vw;
    }
    // Min width 1400px onwards.
    // .presentation-wrapper {
    //     min-height: calc(900px - #{$navbar-height});
    // }
}

