@keyframes showMenu {
  0% {
      transform: rotateX(-90deg)
  }
  70% {
      transform: rotateX(20deg) 
  }
  100% {
      transform: rotateX(0deg);
      visibility: visible;
      opacity: 1;
  }
}

@keyframes hideMenu {
  0% {
      transform: rotateX(0deg)
  }
  70% {
      transform: rotateX(20deg) 
  }
  100% {
      transform: rotateX(-90deg);
      // display: none;
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  @keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }