// Whites
$whitest: #FFFFFF;
$cream: #FFF4E7;

// Purples
$purple-90: #A456E1;
$purple-100: #7C28BE;
$purple-110: #500988;
$purple-200: #2A1B35;

// Pink
$pink-100: #EB3280;

// Grays and blacks
$gray-60: #C4C4C4;
$gray-70: #838282;
$blackest: #000000;